*.pyc
*.retry
*undo-tree~
*.un~
venv
.vscode
.cache
.pytest_cache
__pycache__

logs
unittests.cfg
airflow-webserver.pid
airflow-worker.pid
.config
.viminfo
.credentials
.bash_history
.mysql_history

/dags/bigquery-etl-dags
/dags/bigquery-etl-dags/*

*~
